/* LoginForm container */
.LoginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  margin: 50px auto; /* Simplificado para centrar vertical y horizontalmente */
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 400px;
  margin: auto;
  margin-left: 500px;
  margin-top: 100px;
}

.LoginForm input[type="text"], .LoginForm input[type="password"], .LoginForm input[type="email"] {
  width: 90%;
  padding: 10px;
  margin: 20px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Botón */
.LoginForm button {
  width: 100%; /* Utilizando el 100% del contenedor */
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

/* Estilo de hover del botón */
.LoginForm button:hover {
  background-color: #0056b3;
}

/* Etiquetas */
.LoginForm label {
  margin-top: 25px;
  margin-bottom: 0px;
  font-weight: bold;
}

/* Mensajes de error y éxito */
.error-message, .success-message {
  text-align: center;
  font-size: 14px;
}

.error-message {
  color: red;
}

.success-message {
  color: green;
}

/* Estilos del botón de Google */
.GoogleBtn {
  background-color: #db4437;
  color: white;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 5px;
}

.GoogleBtn:hover {
  background: #c23321;
}

/* Enlaces */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  .LoginForm {
    width: 90%; /* Reduciendo el ancho en dispositivos móviles */
    padding: 15px;
  }
}
