.container {
    max-width: 800px;
    margin: 100px auto;
    padding: 20px;
  }
  
  /* Shipping Addresses */
  .shipping-addresses {
    margin-bottom: 20px;
  }
  
  .shipping-address {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .shipping-address p {
    margin: 5px 0;
  }
  
  .select-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .select-btn:hover {
    background-color: #0056b3;
  }
  
  /* Products */
  .products {
    margin-bottom: 20px;
  }
  
  .product {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .product-image {
    max-width: 100px;
    margin-right: 20px;
    border-radius: 5px;
  }
  
  .product-details {
    flex: 1;
  }
  
  .product p {
    margin-bottom: 5px;
  }
  
  .add-product-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .add-product-button:hover {
    background-color: #45a049;
  }
  
  .buy-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .buy-button:hover {
    background-color: #218838;
  }
  
  /* Product Inputs */
  .product-input,
  .quantity-input {
    display: inline-block;
    margin-bottom: 10px;
  }
  
  .product-input input,
  .quantity-input input {
    width: calc(100% - 70px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .remove-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .remove-button:hover {
    background-color: #d32f2f;
  }
  